spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/seat_reservation?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false
    username: root
    password: your_mysql_password

  data:
    redis:
      host: 127.0.0.1
      port: 6379
      database: 0

sr:
  jwt:
    secret: 请替换为你自己生成的至少 32 位随机字符串

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl